video {
    width: 1000px;
    height: auto;
}
a{
    height: 5%;
    display: block;
    font-size:150%;
    padding: 1px;
    color: rgb(255, 255, 255);
    background: #2979FF;
    position: relative;
}
.home{
    width: calc(100% / 5);
    height: auto;
    right: 2%;
    top: 2%;
    font-size: 100%;
    color: #2979FF;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
}

body {
    background-image: url("../img/haikei.png");
    background-size: cover;
}