a{
    height: 5%;
    display: block;
    font-size:150%;
    padding: 1px;
    color: rgb(255, 255, 255);
    background: #2979FF;
    position: relative;
}
.home{
    width: calc(100% / 5);
    height: auto;
    right: 2%;
    top: 2%;
    font-size: 100%;
    color: #2979FF;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
}
#video{
    min-height: 65vh;
    width: 100%;
    position: relative;
    margin: 1% 0;
}
.content{
    position: absolute;
    top: 8%;
    left: 0;
    min-height: 100%;
    min-width: 98%;
    padding: 1%;
}
.inner{
    height: 54vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.inner button{
    width: calc(100% / 3);
    height: calc(100% / 3);
    font-size:50px;
    color:hsl(0, 0%, 100%);
    background:#00aeff5b;
    border-radius: 10px;
}
.inner button:hover{
    background: rgba(210, 105, 30, 0.158);
}
.inner button:active{
    background: rgb(33, 74, 255);
    background: #ff0000;
}
/* .btn1{
    
} 
.btn2{
    
} 
.btn3{
    
} 
.btn4{
    
} 
.btn5{
    
} 
.btn6{
   
} 
.btn7{
    
} 
.btn8{
    
} 
.btn9{
    
} 
.btn3{
    width: calc(100% / 3);
    height: calc(100%/3);
    font-size:50px;
    color:#FFFFFF;
    text-align:center;
    display: block;
    margin:20px 0 20px;
    background:#6BCBF6;
    border-radius: 20px; 
} */ 
