body{
    margin: 0px;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a{
    height: 5%;
    display: block;
    font-size:2.5vw;
    color: rgb(255, 255, 255);
    /* background: #2979FF; */
    position: relative;
    padding: 0 1%;
    background-image: url(../img/aa.png);
    font-weight:bold;
}
.home{
    width: 15vw;
    height: auto;
    right: 2%;
    top: 7px;
    font-size: 2vw;
    color: #2979FF;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
}
#mv{
    min-height: 55vw;
    width: 100%;
}
#selectdiv button{
    color: #2979FF;
    background: #ffffff;
    border-radius: 2%;
}
.content{
    position: absolute;
    top: 4vw;
    left: 0;
    min-width: 100%;
}
.inner{
    height: 55vw;
    display: flex;
    /* justify-content: center;
    align-content: center; */
    flex-wrap: wrap;
}
.inner button{
    width: calc(100% / 3);
    height: calc(100% / 3);
    font-size:6vw;
    color:hsl(0, 0%, 100%);
    background:#00aeff5b;
    border-radius: 5px;
}
.inner button:hover{
    background: rgba(210, 105, 30, 0.158) ! important;
}
.inner button:active{
    /* background: rgb(33, 74, 255); */
    background: #0033FF80 ! important;
}

.scroll {

    /* width: 100px;
    height: 50px; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: 1px solid #ccc

}

.scroll .item {
    display: inline-block;
}

 /* Chrome, Safari 対応 */
.scroll::-webkit-scrollbar {
    display:none;
}
