body{
    margin: 0px;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.title{
    height: 5%;
    display: block;
    font-size:2.5vw;
    color: rgb(255, 255, 255);
    /* background: #2979FF; */
    position: relative;
    padding: 0 1%;
    background-image: url(../img/aa.png);
    font-weight:bold;
}
.home{
    position: absolute;
    top: 0.3%;
    right: 2%;
    width: 22vw;
    height: auto;
    font-size: 2vw;
    color: #2979FF;
    background: #ffffff;
    border-radius: 5px;
}
#mv{
    min-height: 55vw;
    width: 100%;
}
#selectdiv button{
    color: #2979FF;
    background: #ffffff;
    border-radius: 2%;
}
.content{
    position: absolute;
    top: 4vw;
    left: 0;
    min-width: 100%;
}
.inner{
    height: 55vw;
    display: flex;
    /* justify-content: center;
    align-content: center; */
    flex-wrap: wrap;
}
.inner button{
    width: calc(100% / 3);
    height: calc(100% / 3);
    font-size:6vw;
    color:hsl(0, 0%, 100%);
    background:#00aeff5b;
    border-radius: 5px;
}
.inner button:hover{
    background: rgba(210, 105, 30, 0.158) ! important;
    pointer-events: auto;
}
.inner button:active{
    /* background: rgb(33, 74, 255); */
    background: #0033FF80 ! important;
}

.result01{
    font-size: 3vw;
    margin: 0% 2%
}
span{
    font-size: 6vw;
}
.line{
    font-size: 3vw;
    top: 17vw;
    position: absolute;
    width: 95%;
    left: 2%;
    padding-left: 1%;
    border-bottom: 4px solid #2979FF;
}
.scroll01 {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: absolute;
    top: 23vw;
    margin: 0 1.5%;
    width: 96.5%;
}

.scroll01 .item {
    /* display: inline-block; */
    margin: 0.1% 0.2%;
    color:#FFFFFF;
    background:#2979FF;
    font-size: 2vw;
    width: 10vw;
    height: 3.5vw;
    margin: 0 0.2%;
    border: none;
}


 /* Chrome, Safari 対応 */
.scroll01::-webkit-scrollbar {
    display:none;
}

#var{
    position: absolute;
    top: 29vw;
    right: 20%;
}
img{
    position: absolute;
    top: 32vw;
    min-height: 30vw;
    width: 45%;
    margin: 2%;
}
.answer{
    position: absolute;
    top: 24vw;
    right: 19%;
}
#img_right{
    right: 0;
    /* background-color: #2979FF; */
    /* background-image: url(../img/loading.jpg); */
}
#img_left{
    left: 0;
    /* background-color: #2979FF; */
    /* background-image: url(../img/loading.jpg); */
}
.left{
    position: absolute;
    top: 46vw;
    right: 43vw;
    font-size: 2vw;
    color: #2979FF;
    background: #ffffff;
}
.right{
    position: absolute;
    top: 46vw;
    right: 3%;
    font-size: 2vw;
    color: #2979FF;
    background: #ffffff;
}