body{
    margin: 0px;
    font-family: "HGゴシックE", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
html:before,
html:after,
body:before,
body:after {
content: "";
  /* background: #2979FF; */
background-image: url(../img/messageImage_1628738375928.jpg);
position: fixed;
display: block;
z-index: 1;
}
html:before {
    height: 10vw; 
    width: 100vw;
    left: 0;
    top: 0;
    
}
  /* 下 */
body:before {
    height: 10vw;
    width: 100vw;
    bottom: 0;
    left: 0;
}
h1{
    text-align: center;
}
.title{
    margin-top: 25vh;
    margin-bottom: 0vw;
    font-size: 10vw;
    -webkit-text-stroke: 1px #212641;
}
.title span{
    color: #2979FF;
}
.SelectPref{
    text-align: center;
}
.select{
    display: inline-block;
    margin: 0 auto;
    width: 25vw;
}
.button{
    display: inline-block;
    margin: 0 auto;
}