body {
  text-align: center;
  margin: 10% 0 0 0;
  font-size: 3vw;
  font-family: "HGゴシックE", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.title {
  font-size: 10vw;
  margin: 5% 0;
  -webkit-text-stroke: 1px #212641;
}
.title span {
  color: #2979ff;
}
.name {
  width: auto;
  height: auto;
  font-size: 20px;
}
.club {
  width: 45vh;
  height: auto;
  font-size: 25px;
}

.Word {
  width: auto;
  height: auto;
  font-size: 20px;
}
.picture {
  width: auto;
  height: auto;
  font-size: 23px;
}
.in {
  font-size: 3vw;
  color: #ffffff;
  background: #2979ff;
  margin: 5% 0;
  box-shadow: rgb(124, 124, 124) 0.5vw 0.5vw;
  border: solid 0.1vw rgb(124, 124, 124);
  border-radius: 0.2vw;
}
.in:hover {
  background-color: orange;
}
