
body {
    margin: 0;
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    }
    
    p{
    margin: 10px;
    }
    
    #container {
    margin: 10px;
    }
    
    .graf {
    display: flex;
    align-items: center;
    margin: 5px;
    }
    
    .data-name {
    padding: 0 6px;
    color: #404040;
    }
    
    .graf-bar-bg {
    width: 100%;
    background: #e0e0e0;
    }
    
    .graf-bar {
    background: #32cd32;
    }
    
    .graf-bar span{
    color: #FFF;
    padding: 0 6px;
    }

    /* #video{
        min-height: 65vh;
        width: 100%;
        position: relative;
        margin: 1% 0;
    }
 */
.home{
    width: 15vw;
    height: auto;
    right: 2%;
    top: 7px;
    font-size: 2vw;
    color: #2979FF;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
}
#mv{
    min-height: 55vw;
    width: 100%;
}
    .content{
        position: absolute;
        top: 4vw;
        left: 0;
        min-width: 100%;
    }
    .inner{
        height: 55vw;
        display: flex;
        /* justify-content: center;
        align-content: center; */
        flex-wrap: wrap;
    }
    .inner button{
        width: calc(100% / 3);
        height: calc(100% / 3);
        font-size:6vw;
        color:hsl(0, 0%, 100%);
        background:#00aeff5b;
        border-radius: 5px;
    }

    /* .inner button:hover{
        background: rgba(56, 54, 53, 0.158);
    } */
    
